<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>RoyalUI Admin</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="../../vendors/ti-icons/css/themify-icons.css"
    />
    <link rel="stylesheet" href="../../vendors/base/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
        >
          <a class="navbar-brand brand-logo mr-5" href="/products"
            ><img src="../../images/logo.svg" class="mr-2" alt="logo"
          /></a>
          <a class="navbar-brand brand-logo-mini" href="../../index.html"
            ><img src="../../images/logo-mini.svg" alt="logo"
          /></a>
        </div>
        <div
          class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
        >
          <button
            class="navbar-toggler navbar-toggler align-self-center"
            type="button"
            data-toggle="minimize"
          >
            <span class="ti-view-list"></span>
          </button>
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
              <div class="input-group">
                <div
                  class="input-group-prepend hover-cursor"
                  id="navbar-search-icon"
                >
                  <span class="input-group-text" id="search">
                    <i class="ti-search"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="navbar-search-input"
                  placeholder="Search now"
                  aria-label="search"
                  aria-describedby="search"
                />
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right"></ul>
          <button
            class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
            type="button"
            data-toggle="offcanvas"
          >
            <span class="ti-view-list"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link">
                <i class="ti-view-list-alt menu-icon"></i>
                <span class="menu-title">Products</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/category">
                <i class="ti-view-list-alt menu-icon"></i>
                <span class="menu-title">Category</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order">
                <i class="ti-view-list-alt menu-icon"></i>
                <span class="menu-title">Order</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <i class="ti-view-list-alt menu-icon"></i>
                <span class="menu-title">Log out</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row"></div>
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">New product</h4>
                  <form
                    class="forms-sample"
                    method="POST"
                    action="/edit-product/<%=list._id %> "
                    enctype="multipart/form-data"
                    onsubmit="return submitButton()"
                  >
                    <div class="form-group">
                      <label for="exampleInputName">Product name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="productName"
                        placeholder="Product name"
                        name="productName"
                        value="<%=list.productName  %>"
                        onchange="validationName()"
                        onkeyup="validationName()"
                      />
                      <p class="text-danger d-none" id="productNameError"></p>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Category</label>
                      <select
                        class="form-control"
                        id="exampleFormControlSelect1"
                        name="category"
                      >
                        <% category.forEach(e =>{ %>
                        <option value="<%=e._id  %>">
                          <%=e.categoryName %>
                        </option>
                        <% }) %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleSelectPrice">Price</label>
                      <input
                        type="number"
                        class="form-control"
                        id="price"
                        placeholder="Price"
                        name="price"
                        value="<%=list.price  %>"
                        onchange="validationPrice()"
                        onkeyup="validationPrice()"
                      />
                      <p class="text-danger d-none" id="priceError"></p>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputSize">Size</label>
                      <input
                        type="text"
                        class="form-control"
                        id="size"
                        placeholder="Size"
                        name="size"
                        value="<%=list.size %>"
                        onchange="validationSize()"
                        onkeyup="validationSize()"
                      />
                      <p class="text-danger d-none" id="sizeError"></p>
                    </div>

                    <div class="form-group">
                      <label>Image upload</label>
                      <input
                        type="file"
                        class="file-upload-default"
                        id="image"
                        name="image"
                        value="<%=list.image %> "
                      />
                      <div class="input-group col-xs-12">
                        <input
                          type="text"
                          class="form-control file-upload-info"
                          disabled
                          id="img"
                          placeholder="Upload Image"
                          value="<%=list.image %> "
                        />
                        <span class="input-group-append">
                          <button
                            class="file-upload-browse btn btn-primary"
                            type="button"
                          >
                            Upload
                          </button>
                        </span>
                      </div>
                      <p class="text-danger d-none" id="imageError"></p>
                      <div class="mt-2">
                        <img
                          width="80"
                          height="100"
                          id="showImg"
                          src="http://localhost:3000/images/products/<%=list.image %>"
                          alt=""
                        />
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">
                      Submit
                    </button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div
              class="d-sm-flex justify-content-center justify-content-sm-between"
            >
              <span
                class="text-muted d-block text-center text-sm-left d-sm-inline-block"
                >Copyright © bootstrapdash.com 2020</span
              >
              <span
                class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
              >
                Free
                <a href="https://www.bootstrapdash.com/" target="_blank"
                  >Bootstrap dashboard templates</a
                >
                from Bootstrapdash.com</span
              >
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../../js/file-upload.js"></script>
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#showImg").attr("src", e.target.result);
            $("#showImg").removeClass("d-none");
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
      $("#image").change(function () {
        readURL(this);
      });
      //
      var isProductNameValid = false,
        isPriceValid = false,
        isSizeValid = false,
        isImageValid = false;
      function validationName() {
        let code = document.getElementById("productName").value;
        if (!code || code.trim().lenght == 0) {
          document.getElementById("productNameError").innerText =
            "Product name is required";
          document
            .getElementById("productNameError")
            .classList.remove("d-none");
          isProductNameValid = false;
        } else {
          document.getElementById("productNameError").innerText = "";
          document.getElementById("productNameError").classList.add("d-none");
          isProductNameValid = true;
        }
      }
      //
      function validationPrice() {
        let price = document.getElementById("price").value;
        price = Number(price);
        if (price < 0 || !price) {
          document.getElementById("priceError").innerText = "Price is valid";
          document.getElementById("priceError").classList.remove("d-none");
          isPriceValid = false;
        } else {
          document.getElementById("priceError").innerText = "";
          document.getElementById("priceError").classList.add("d-none");
          isPriceValid = true;
        }
      }
      //
      function validationSize() {
        let size = document.getElementById("size").value;
        if ((size.trim().lenght = 0 || !size)) {
          document.getElementById("sizeError").innerText = "Size is valid";
          document.getElementById("sizeError").classList.remove("d-none");
          isSizeValid = false;
        } else {
          document.getElementById("sizeError").innerText = "";
          document.getElementById("sizeError").classList.add("d-none");
          isSizeValid = true;
        }
      }
      //
      function submitButton() {
        validationSize();
        validationPrice();
        validationName();
        let image = document.getElementById("img").value;
        if ((image.trim().lenght = 0 || !image)) {
          document.getElementById("imageError").innerText = "Image is required";
          document.getElementById("imageError").classList.remove("d-none");
          return false;
        } else {
          if (isSizeValid && isProductNameValid && isPriceValid) {
            return true;
          }
          return false;
        }
      }
    </script>
    <!-- End custom js for this page-->
  </body>
</html>
